@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 2000px;
}
::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {

    background-color:rgb(54, 54, 54)
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 

  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #5f5f5f; 
  }



body{
    background-image: url(assets/fundo.jpg);
    background-size: 2000px;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    color: white;

}


header h1{

    font-family: 'Cutive Mono';
    font-size: 50px;
    text-shadow: 2px 2px black;
    display: grid;
    padding-top: 2%;
    margin-left: 2%;
}
h2{
    font-family: 'Cutive Mono';
}
.menu{
    margin-left: 70%;
    margin-top: -4%;
}
.market, .exchange, .comunnity, li{
    display: inline-grid;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Major Mono Display', monospace;
    grid-area: a2;
    margin: 10px;

}
.market:hover, .exchange:hover, .comunnity:hover{
    transition: border 3s 0s ease;
    border: 1px solid rgb(255, 255, 255);
    border-top: none;
    border-left: none;
    border-right: none;
}



.container{
    grid-template-areas: "b3 b3 b3 b3 b3 b3";
}



#title1{
    margin-top: 100px;
    font-size: 40px;
    margin-left: 30%;
    font-family: 'Noto Serif', serif;
    word-spacing: 5px;
}


.paragraph{
    top: 100px;
    grid-area: b3;
}



#cripto{
    font-family: 'Courier New', Courier, monospace;
    color:grey;
    font-size: larger;
    margin-top: 4%;
    margin-left: 30%;
}

.btn{
    margin-top: 3%;
    margin-left: 30%;
    background-color:rgb(112, 29, 189);
    border-bottom-left-radius: 50%;
    width: 120px;
    height: 40px;
    border: none;
    color: white;
    font-size: 17px;
    font-family:"Arial", sans-serif;
    text-indent: -25px;

}


.container2{
    background-color: rgb(255, 255, 255);
    background-image:url(https://steamuserimages-a.akamaihd.net/ugc/813306660768080976/9A13581D8592EEEC7998BD79BD7B726989D0E94B/);
    background-repeat: no-repeat;
    background-size:cover;
    height: 1000px;
}



#title2{
    grid-row: auto;
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
}
#title3{
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
    font-family: 'Cutive Mono';
}
.mercadoBit{
    margin-top: 10%;
    background-color: white;
    max-width: 200px;
    height: 200px;
    border-radius: 5%;
    margin-right: 20%;
}
#marketImg{

    width: 150px;
    padding-top: 30%;
    margin-left: 10%;

}
.container3{
    height: 1000px;
    background-color: white;
}
#exchangeTitle{
    text-align: center;
    font-size: 40px;
    color: black;
    padding-top: 5%;
}
